<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estudiantes</title>
</head>

<body
    style='background-image: url(https://thomasarthurfightforlife.com/wp-content/uploads/lazerhawk-retro-style-abstract-synthwave_1844333.jpg);background-size: cover;'>
    <center>
        <div id="central" style='margin: 10% 30% 5% 30%;background-color: #0C0040; color: yellow;'>
            <%include nav.html%>
            <h2>Datos del estudiante</h2>
            <div id="estudiantedat" style="background-color: #150016; margin: 15px 15px 15px 15px; width: 60%;">
                
                <div class="datos">
                    <h3>Estudiante: </h3>
                    <p>Willians Alberto Orozco López</p>
                    <hr width="70%">
                </div>
                <div class="datos">
                    <h3>Carné: </h3>
                    <p>201839221</p>
                    <hr width="70%">
                </div>
                <div class="datos">
                    <h3>Carrera: </h3>
                    <p>Ingeniería en Ciencias y Sistemas</p>
                    <hr width="70%">
                </div>
                <div class="datos">
                    <h3>Curso: </h3>
                    <p>Lenguajes formales y de programación</p>
                    <hr width="70%">
                </div>
            </div>
        </div>
        <%include foot.html%>
    </center>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>