<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto 1 LFYP</title>
</head>

<body
    style='background-image: url(https://thomasarthurfightforlife.com/wp-content/uploads/lazerhawk-retro-style-abstract-synthwave_1844333.jpg);background-size: cover;'>
    <center>
        <div id="central" style='margin: 22% 30% 5% 30%;background-color: #150016;color: yellow;'>
            <%include nav.html%>
            <div id="ingresar">
                <h3>Ingresa el archivo</h3>
                <input id="archivo" type="file" name="archivo" accept=".txt" style="margin-bottom: 10px;" /> 
                <input id="botons" type="button" value="verificar" onclick="mostrar()" />
            </div>
            <div id="tabla" style="display: none;">
                <textarea id="texto" name="texto" cols="50" rows="15" disabled="true"></textarea>
                <br>
                <input type="button" value="Analizar" id='verif' style="margin-bottom: 10px;"/>
                <br>
            </div>
        </div>

    </center>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/manejo.js"></script>
    <script>
        function mostrar() {
            var x = document.getElementById('tabla');
            var y = document.getElementById('central');
            if (x.style.display = 'none') {
                x.style.display = 'block';
                y.style.margin = '10% 30% 5% 30%';
            } else {
                x.style.display = 'none';
            }
        }
    </script>
    
</body>

</html>